temp/
.idea/
.venv/
.git/

**.env**
**.pyc**
**.pyo**
**.pyd**
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/

**.env**
**.pyc**
**.pyo**
**.pyd**
__pycache__/
out/
data/
!Cpp/data/
!Cpp/data/shop_items.json
.vs/
.vscode/
*.code-workspace
