name: autorun-iter8-bot

services:
  iter8-bot-runner:
    build: Python
    read_only: true
    restart: always
    env_file:
      - ../.env # Actually in AutoDeploy... weird inside-out repo
    volumes:
      - iter8-bot-data:/app/data:rw
      - /home/nonroot/.cache # anonymous

  bot-web-server:
    build: Web
    restart: always
    read_only: true
    expose:
      - "80" # internal only
    tmpfs:
      - /var/cache/nginx
      - /run

volumes:
  iter8-bot-data:
    name: iter8-bot-data
    external: true

networks:
  default:
    name: iter8-network
    external: true
