services:
  iter8-bot-runner:
    build: .
    restart: always

  bot-web-server:
    image: nginx:stable-alpine
    restart: always
    expose:
      - "80" # internal only
    volumes:
      - ./Web/static:/usr/share/nginx/html:ro
      - ./Web/config/nginx.conf:/etc/nginx/nginx.conf:ro

networks:
  default:
    external:
      name: iter8-network
    internal: true
    name: iter8-network
